<!DOCTYPE html>
<!-- saved from url=(0037)http://bootstrapk.com/examples/cover/ -->
<html lang="ko">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://bootstrapk.com/favicon.ico">

    <title>출석체크</title>
    <style>
      canvas { 
    display: inline-block; 
    background: #202020; 
    width: 95%;
    height: 45%;
    box-shadow: 0px 0px 10px blue;
  }

 
    </style>
    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/cover.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="javascripts/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="javascripts/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="javascripts/recorder.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/audiodisplay.js"></script>
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h5 class="masthead-brand">Capstone Design</h5>
            </div>
          </div>

          <div class="inner cover">
            <h2 class="cover-heading">출석 체크</h2>
            <p class="lead">시작 버튼을 클릭하고 출석 문장을 1회 말해주십시오. <br> 녹음이 끝나면 확인 버튼을 클릭해 주십시오.<br></p>
               <div id="viz">
                <canvas id="analyser" width="1024" height="80"></canvas>
                <br><br>
                <canvas id="wavedisplay1" width="1024" height="80"></canvas>
              </div>

            <p>
              <br>
              <button type="button" id="checkBtn" class="btn btn-default btn-lg" onclick="toggleChecking(this);">녹음 시작</button>
              <a type="button" id="save" class="btn btn-default btn-lg" style="display:none;">download</a>
            </p>
          </div>


        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="javascripts/ie10-viewport-bug-workaround.js"></script>

</body></html>